
.container {
    width: 550px;
    background-color: aqua;
}
.logo{
    width: 100%;
    text-align: left;
    margin-bottom: 50px;

}
.img{
    height: 121px;
    width: 332px;
}
.Title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 100px;
}
.text{
    width: 82%;
    font-size: 19px;
    margin: 0 auto;
    line-height: 2;
    word-spacing: 4px;
    margin-bottom: 34px;
    font-family: "Times New Roman", Times, serif;
}
.footer{
    width: 82%;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;

    font-style: italic;

}
